In [331]:
# In this notebook I will be compiling and cleaning the imported data and export into a csv to be analyzed in another notebook

In [332]:
# import dependencies and modules
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats
import pandas as pd
import time
import requests
from pprint import pprint

# import the keys / need to create keys 
# from api_keys import

In [333]:
# Begining with the transfer data from the last 5 years to gain our list of transfered players
# Import csv file for the Premier League for the last 5 years
epl_2016 = pd.read_csv('2016/english_premier_league.csv')
epl_2017 = pd.read_csv('2017/english_premier_league.csv')
epl_2018 = pd.read_csv('2018/english_premier_league.csv')
epl_2019 = pd.read_csv('2019/english_premier_league.csv')
epl_2020 = pd.read_csv('2020/english_premier_league.csv')
# Combine the new DataFrames into one
epl_frames = [epl_2016, epl_2017, epl_2018, epl_2019, epl_2020]
epl_total = pd.concat(epl_frames)
epl_total

# Clean the data to remove all transfers that were either free or with a loan association
# created a new columns with booleans telling me if a players 'fee' contained loan in it anywhere
epl_total['loaned?'] = epl_total['fee'].str.contains('loan', case=False)
epl_clean_data = epl_total[epl_total['loaned?'] == False]

# Remove the remaining non-values
epl_clean_data = epl_clean_data[(epl_clean_data['fee'] != '-') & (epl_clean_data['fee'] != '?') & (epl_clean_data['fee'] != 'Free transfer')]

# some of the fees are in thousands while others are in millions. For the sake of time I am only going to use those above 1 million pounds
epl_clean_data['cheap?'] = epl_clean_data['fee'].str.contains('Th', case=False)
epl_clean_data = epl_clean_data[epl_clean_data['cheap?'] == False]

# Clean it to only inbound transfers or 'purchases'
# Creating a sellers DataFrame aswell
epl_seller_data = epl_clean_data[epl_clean_data['transfer_movement'] == 'out']
epl_clean_data = epl_clean_data[epl_clean_data['transfer_movement'] == 'in']

# remove unneccessary columns
epl_clean_data = epl_clean_data.drop(columns={'loaned?','cheap?'})
# epl_clean_data

In [334]:
# Bring in DataFrame for French Ligue 1
fl1_2016 = pd.read_csv('2016/french_ligue_1.csv')
fl1_2017 = pd.read_csv('2017/french_ligue_1.csv')
fl1_2018 = pd.read_csv('2018/french_ligue_1.csv')
fl1_2019 = pd.read_csv('2019/french_ligue_1.csv')
fl1_2020 = pd.read_csv('2020/french_ligue_1.csv')
# Combine the new DataFrames into one
fl1_frames = [fl1_2016, fl1_2017, fl1_2018, fl1_2019, fl1_2020]
fl1_total = pd.concat(fl1_frames)
fl1_total

# Clean the data to remove all transfers that were either free or with a loan association
# created a new columns with booleans telling me if a players 'fee' contained loan in it anywhere
fl1_total['loaned?'] = fl1_total['fee'].str.contains('loan', case=False)
fl1_clean_data = fl1_total[fl1_total['loaned?'] == False]

# Remove the remaining non-values
fl1_clean_data = fl1_clean_data[(fl1_clean_data['fee'] != '-') & (fl1_clean_data['fee'] != '?') & (fl1_clean_data['fee'] != 'Free transfer')]

# some of the fees are in thousands while others are in millions. For the sake of time I am only going to use those above 1 million pounds
fl1_clean_data['cheap?'] = fl1_clean_data['fee'].str.contains('Th', case=False)
fl1_clean_data = fl1_clean_data[fl1_clean_data['cheap?'] == False]

# Clean it to only inbound transfers or 'purchases'
# Creating a sellers DataFrame aswell
fl1_seller_data = fl1_clean_data[fl1_clean_data['transfer_movement'] == 'out']
fl1_clean_data = fl1_clean_data[fl1_clean_data['transfer_movement'] == 'in']

# remove unneccessary columns
fl1_clean_data = fl1_clean_data.drop(columns={'loaned?','cheap?'})
# fl1_seller_data

In [335]:
# Bring in DataFrame for Germand Bundesliga
gbl_2016 = pd.read_csv('2016/german_bundesliga_1.csv')
gbl_2017 = pd.read_csv('2017/german_bundesliga_1.csv')
gbl_2018 = pd.read_csv('2018/german_bundesliga_1.csv')
gbl_2019 = pd.read_csv('2019/german_bundesliga_1.csv')
gbl_2020 = pd.read_csv('2020/german_bundesliga_1.csv')
# Combine the new DataFrames into one
gbl_frames = [gbl_2016, gbl_2017, gbl_2018, gbl_2019, gbl_2020]
gbl_total = pd.concat(gbl_frames)
gbl_total

# Clean the data to remove all transfers that were either free or with a loan association
# created a new columns with booleans telling me if a players 'fee' contained loan in it anywhere
gbl_total['loaned?'] = gbl_total['fee'].str.contains('loan', case=False)
gbl_clean_data = gbl_total[gbl_total['loaned?'] == False]

# Remove the remaining non-values
gbl_clean_data = gbl_clean_data[(gbl_clean_data['fee'] != '-') & (gbl_clean_data['fee'] != '?') & (gbl_clean_data['fee'] != 'Free transfer')]

# some of the fees are in thousands while others are in millions. For the sake of time I am only going to use those above 1 million pounds
gbl_clean_data['cheap?'] = gbl_clean_data['fee'].str.contains('Th', case=False)
gbl_clean_data = gbl_clean_data[gbl_clean_data['cheap?'] == False]

# Clean it to only inbound transfers or 'purchases'
# Creating a sellers DataFrame aswell
gbl_seller_data = gbl_clean_data[gbl_clean_data['transfer_movement'] == 'out']
gbl_clean_data = gbl_clean_data[gbl_clean_data['transfer_movement'] == 'in']

# remove unneccessary columns
gbl_clean_data = gbl_clean_data.drop(columns={'loaned?','cheap?'})

In [336]:
# Bring in DataFrame for Italian Serie A
isa_2016 = pd.read_csv('2016/italian_serie_a.csv')
isa_2017 = pd.read_csv('2017/italian_serie_a.csv')
isa_2018 = pd.read_csv('2018/italian_serie_a.csv')
isa_2019 = pd.read_csv('2019/italian_serie_a.csv')
isa_2020 = pd.read_csv('2020/italian_serie_a.csv')
# Combine the new DataFrames into one
isa_frames = [isa_2016, isa_2017, isa_2018, isa_2019, isa_2020]
isa_total = pd.concat(isa_frames)
isa_total

# Clean the data to remove all transfers that were either free or with a loan association
# created a new columns with booleans telling me if a players 'fee' contained loan in it anywhere
isa_total['loaned?'] = isa_total['fee'].str.contains('loan', case=False)
isa_clean_data = isa_total[isa_total['loaned?'] == False]

# Remove the remaining non-values
isa_clean_data = isa_clean_data[(isa_clean_data['fee'] != '-') & (isa_clean_data['fee'] != '?') & (isa_clean_data['fee'] != 'Free transfer')]

# some of the fees are in thousands while others are in millions. For the sake of time I am only going to use those above 1 million pounds
isa_clean_data['cheap?'] = isa_clean_data['fee'].str.contains('Th', case=False)
isa_clean_data = isa_clean_data[isa_clean_data['cheap?'] == False]

# Clean it to only inbound transfers or 'purchases'
# Creating a sellers DataFrame aswell
isa_seller_data = isa_clean_data[isa_clean_data['transfer_movement'] == 'out']
isa_clean_data = isa_clean_data[isa_clean_data['transfer_movement'] == 'in']

# remove unneccessary columns
isa_clean_data = isa_clean_data.drop(columns={'loaned?','cheap?'})

In [337]:
# Bring in DataFrame for spanish_primera_division
spd_2016 = pd.read_csv('2016/spanish_primera_division.csv')
spd_2017 = pd.read_csv('2017/spanish_primera_division.csv')
spd_2018 = pd.read_csv('2018/spanish_primera_division.csv')
spd_2019 = pd.read_csv('2019/spanish_primera_division.csv')
spd_2020 = pd.read_csv('2020/spanish_primera_division.csv')
# Combine the new DataFrames into one
spd_frames = [spd_2016, spd_2017, spd_2018, spd_2019, spd_2020]
spd_total = pd.concat(spd_frames)
spd_total

# Clean the data to remove all transfers that were either free or with a loan association
# created a new columns with booleans telling me if a players 'fee' contained loan in it anywhere
spd_total['loaned?'] = spd_total['fee'].str.contains('loan', case=False)
spd_clean_data = spd_total[spd_total['loaned?'] == False]

# Remove the remaining non-values
spd_clean_data = spd_clean_data[(spd_clean_data['fee'] != '-') & (spd_clean_data['fee'] != '?') & (spd_clean_data['fee'] != 'Free transfer')]

# some of the fees are in thousands while others are in millions. For the sake of time I am only going to use those above 1 million pounds
spd_clean_data['cheap?'] = spd_clean_data['fee'].str.contains('Th', case=False)
spd_clean_data = spd_clean_data[spd_clean_data['cheap?'] == False]

# Clean it to only inbound transfers or 'purchases'
# Creating a sellers DataFrame aswell
spd_seller_data = spd_clean_data[spd_clean_data['transfer_movement'] == 'out']
spd_clean_data = spd_clean_data[spd_clean_data['transfer_movement'] == 'in']

# remove unneccessary columns
spd_clean_data = spd_clean_data.drop(columns={'loaned?','cheap?'})

In [338]:
# Create a DataFrame containing all of the players from all of the leagues
total_frames = [epl_clean_data, fl1_clean_data, gbl_clean_data, isa_clean_data, spd_clean_data]
combined_df = pd.concat(total_frames)
combined_df

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
0,Leicester City,Islam Slimani,28,Centre-Forward,Sporting CP,£27.45m,in,Summer,27.45,Premier League,2016,2016/2017
1,Leicester City,Ahmed Musa,23,Left Winger,CSKA Moscow,£17.55m,in,Summer,17.55,Premier League,2016,2016/2017
2,Leicester City,Nampalys Mendy,24,Defensive Midfield,OGC Nice,£13.95m,in,Summer,13.95,Premier League,2016,2016/2017
3,Leicester City,Bartosz Kapustka,19,Attacking Midfield,Cracovia,£4.50m,in,Summer,4.50,Premier League,2016,2016/2017
4,Leicester City,Ron-Robert Zieler,27,Goalkeeper,Hannover 96,£3.15m,in,Summer,3.15,Premier League,2016,2016/2017
...,...,...,...,...,...,...,...,...,...,...,...,...
610,FC Barcelona,Sergiño Dest,19,Right-Back,Ajax,£18.90m,in,Winter,18.90,Primera Division,2020,2020/2021
620,Sevilla FC,Oussama Idrissi,24,Left Winger,AZ Alkmaar,£10.80m,in,Winter,10.80,Primera Division,2020,2020/2021
621,Sevilla FC,Karim Rekik,25,Centre-Back,Hertha BSC,£1.80m,in,Winter,1.80,Primera Division,2020,2020/2021
635,Athletic Bilbao,Álex Berenguer,25,Left Winger,Torino,£9.45m,in,Winter,9.45,Primera Division,2020,2020/2021
637,Granada CF,Luis Suárez,22,Centre-Forward,Watford,£6.30m,in,Winter,6.30,Primera Division,2020,2020/2021

In [339]:
# Export the combined_df that contains all of the transfers from the last five years
combined_df.to_csv(r'Data/transfer_data.csv',index=False)

In [340]:
# combine sellers df
sellers_frames = [epl_seller_data, fl1_seller_data, gbl_seller_data, isa_seller_data, spd_seller_data]
sellers_df = pd.concat(sellers_frames)
sellers_df['transfer_movement'].nunique()
sellers_df

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,loaned?,cheap?
13,Leicester City,N'Golo Kanté,25,Central Midfield,Chelsea,£32.22m,out,Summer,32.22,Premier League,2016,2016/2017,False,False
14,Leicester City,Andrej Kramaric,25,Centre-Forward,TSG Hoffenheim,£9.90m,out,Summer,9.90,Premier League,2016,2016/2017,False,False
15,Leicester City,Ritchie De Laet,27,Right-Back,Aston Villa,£2.07m,out,Summer,2.07,Premier League,2016,2016/2017,False,False
16,Leicester City,Liam Moore,23,Centre-Back,Reading,£1.04m,out,Summer,1.04,Premier League,2016,2016/2017,False,False
39,Arsenal FC,Serge Gnabry,21,Right Winger,Werder Bremen,£4.50m,out,Summer,4.50,Premier League,2016,2016/2017,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,Deportivo Alavés,Ermedin Demirovic,22,Centre-Forward,SC Freiburg,£3.33m,out,Summer,3.33,Primera Division,2020,2020/2021,False,False
569,Celta de Vigo,Pione Sisto,25,Left Winger,FC Midtjylland,£2.25m,out,Summer,2.25,Primera Division,2020,2020/2021,False,False
595,Elche CF,Juan Cruz,28,Left-Back,CA Osasuna,£2.48m,out,Summer,2.48,Primera Division,2020,2020/2021,False,False
615,Atlético Madrid,Thomas,27,Defensive Midfield,Arsenal,£45.00m,out,Winter,45.00,Primera Division,2020,2020/2021,False,False
616,Atlético Madrid,Nikola Kalinic,32,Centre-Forward,Hellas Verona,£1.62m,out,Winter,1.62,Primera Division,2020,2020/2021,False,False

In [341]:
# Let's look at profits
# merge the sales and purchases together
league_profits = pd.merge(league_sellers, league_spenders, on='league_name')
league_profits = league_profits.drop(['age_x','year_x','cheap?','age_y','year_y'], axis=1)
league_profits = league_profits.rename(columns={'fee_cleaned_x':'revenue',
                                               'fee_cleaned_y': 'purchases'})
# add the profit column
league_profits['profit/loss'] = round(league_profits['revenue'] - league_profits['purchases'],2)
league_profits

# export as CSV for LEAGUE PROFITS/LOSSES
league_profits.to_csv(r'Data/league_profits.csv',index=False)

In [342]:
# Groupby club to see which are the big spenders
club_group = combined_df.groupby(['club_name'])
club_spenders = round(club_group.sum(), 2)
club_spenders = club_spenders.reset_index()

# Groupby club to see which are the big sellers
club_seller_group = sellers_df.groupby(['club_name'])
club_sellers = round(club_seller_group.sum(), 2)
club_sellers = club_sellers.reset_index()

# Find the top 10 biggest spenders in europe
top_10_spenders = club_spenders.sort_values(by=['fee_cleaned'], ascending=False)
top_10_spenders = top_10_spenders.head(30)

In [343]:
top_10_spenders

                   club_name   age  fee_cleaned   year
44              FC Barcelona   694       950.54  60540
74           Manchester City   782       850.07  70623
68               Juventus FC   840       829.53  70619
31                Chelsea FC   534       797.85  44390
75         Manchester United   478       708.39  40366
85       Paris Saint-Germain   442       675.45  36318
16           Atlético Madrid   545       599.13  44398
67               Inter Milan   861       582.89  72643
12                Arsenal FC   556       568.72  46415
42                Everton FC   649       537.62  54478
94               Real Madrid   389       525.38  36327
7                  AS Monaco   968       497.97  86776
73              Liverpool FC   415       473.27  34302
21         Borussia Dortmund   683       462.10  60524
9                    AS Roma  1065       460.05  86756
4                   AC Milan   655       447.44  54487
105               SSC Napoli   689       441.23  56502
71            Leicester City   620       441.18  52460
108               Sevilla FC  1125       432.77  88797
120        Tottenham Hotspur   397       384.57  34305
18             Bayern Munich   389       353.25  34311
133          West Ham United   660       332.01  52464
134  Wolverhampton Wanderers   452       278.78  38356
87                RB Leipzig   501       277.01  48426
110           Southampton FC   459       272.08  40357
83            Olympique Lyon   598       260.60  54486
127              Valencia CF   584       257.58  46409
24    Brighton & Hove Albion   802       243.99  70641
17       Bayer 04 Leverkusen   406       242.55  36322
130            Villarreal CF   746       240.80  58516

In [344]:
# Create club profits dataframe
# Let's look at profits
# merge the sales and purchases together
club_profits = pd.merge(club_sellers, club_spenders, on='club_name')
club_profits = club_profits.drop(['age_x','year_x','cheap?','age_y','year_y'], axis=1)
club_profits = club_profits.rename(columns={'fee_cleaned_x':'revenue',
                                               'fee_cleaned_y': 'purchases'})
# add the profit column
club_profits['profit/loss'] = round(club_profits['revenue'] - club_profits['purchases'],2)

# sort by most profitable
most_profitable_club = club_profits.sort_values(by=['profit/loss'], ascending=False)
# top 10
top_profitable_clubs = most_profitable_club.head(30)

# bottom 10
least_profitable_clubs = most_profitable_club.tail(30)

least_profitable_clubs

                   club_name  revenue  purchases  profit/loss
119     West Bromwich Albion    31.19      98.19       -67.00
85               Real Madrid   453.60     525.38       -71.78
97                Sevilla FC   358.97     432.77       -73.80
60         Huddersfield Town    14.94      94.46       -79.52
116            VfL Wolfsburg   141.17     221.36       -80.19
73          Newcastle United    92.07     181.67       -89.60
94                SSC Napoli   346.12     441.23       -95.11
59                Hertha BSC    62.91     162.36       -99.45
79         Parma Calcio 1913    16.83     117.62      -100.79
80                RB Leipzig   173.11     277.01      -103.90
67              Liverpool FC   368.39     473.27      -104.88
51                 Fulham FC     4.05     127.73      -123.68
5            AFC Bournemouth    68.85     193.10      -124.25
65            Leicester City   313.23     441.18      -127.95
17             Bayern Munich   203.13     353.25      -150.12
120          West Ham United   178.99     332.01      -153.02
121  Wolverhampton Wanderers   104.81     278.78      -173.97
108        Tottenham Hotspur   210.20     384.57      -174.37
12               Aston Villa     2.70     217.31      -214.61
22    Brighton & Hove Albion    27.36     243.99      -216.63
63               Juventus FC   612.10     829.53      -217.43
3                   AC Milan   220.47     447.44      -226.97
38                Everton FC   266.96     537.62      -270.66
28                Chelsea FC   503.19     797.85      -294.66
62               Inter Milan   275.59     582.89      -307.30
78       Paris Saint-Germain   336.51     675.45      -338.94
11                Arsenal FC   214.74     568.72      -353.98
40              FC Barcelona   585.41     950.54      -365.13
69         Manchester United   205.64     708.39      -502.75
68           Manchester City   280.32     850.07      -569.75

In [345]:
# import chardet
# with open('2018/2018_stats.csv', 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

In [358]:
# Find team names for TOP SPENDERS
teams = []
for team in top_10_spenders['club_name']:
    teams.append(team)
teams

['Barcelona',
 'Manchester City',
 'Juventus',
 'Chelsea',
 'Manchester Utd',
 'Paris S-G',
 'Atlético Madrid',
 'Inter',
 'Arsenal',
 'Everton',
 'Real Madrid',
 'Monaco',
 'Liverpool',
 'Dortmund',
 'Roma',
 'Milan',
 'Napoli',
 'Leicester City',
 'Sevilla',
 'Tottenham',
 'Bayern Munich',
 'West Ham',
 'Wolverhampton Wanderers',
 'RB Leipzig',
 'Southampton',
 'Lyon',
 'Valencia',
 'Brighton',
 'Leverkusen',
 'Villarreal']

In [359]:
# merge these DataFrames together
# clean_total = pd.merge(top_10_spenders, team_id, on = 'club_name')
# clean_total['league_ID'] = [30,2,28,2,2,4,30,28,2,2]
top_10_spenders['club_name'] = ['Barcelona','Manchester City', 'Juventus', 'Chelsea', \
                                'Manchester Utd','Paris S-G', 'Atlético Madrid','Inter',\
                                'Arsenal','Everton',\
                               'Real Madrid','Monaco','Liverpool','Dortmund',\
                                'Roma', 'Milan','Napoli','Leicester City','Sevilla',\
                                'Tottenham','Bayern Munich','West Ham','Wolverhampton Wanderers',\
                                'RB Leipzig','Southampton','Lyon','Valencia',\
                                'Brighton','Leverkusen','Villarreal']
# top_10_spenders = top_10_spenders.drop(['age','year'], axis=1)
top_10_spenders

                   club_name   age  fee_cleaned   year
44                 Barcelona   694       950.54  60540
74           Manchester City   782       850.07  70623
68                  Juventus   840       829.53  70619
31                   Chelsea   534       797.85  44390
75            Manchester Utd   478       708.39  40366
85                 Paris S-G   442       675.45  36318
16           Atlético Madrid   545       599.13  44398
67                     Inter   861       582.89  72643
12                   Arsenal   556       568.72  46415
42                   Everton   649       537.62  54478
94               Real Madrid   389       525.38  36327
7                     Monaco   968       497.97  86776
73                 Liverpool   415       473.27  34302
21                  Dortmund   683       462.10  60524
9                       Roma  1065       460.05  86756
4                      Milan   655       447.44  54487
105                   Napoli   689       441.23  56502
71            Leicester City   620       441.18  52460
108                  Sevilla  1125       432.77  88797
120                Tottenham   397       384.57  34305
18             Bayern Munich   389       353.25  34311
133                 West Ham   660       332.01  52464
134  Wolverhampton Wanderers   452       278.78  38356
87                RB Leipzig   501       277.01  48426
110              Southampton   459       272.08  40357
83                      Lyon   598       260.60  54486
127                 Valencia   584       257.58  46409
24                  Brighton   802       243.99  70641
17                Leverkusen   406       242.55  36322
130               Villarreal   746       240.80  58516

In [360]:

for team in top_profitable_clubs['club_name']:
    print(team)

Lyon
Lille
Dortmund
Saint-Étienne
Sampdoria
Hoffenheim
Atalanta
Monaco
Genoa
Bordeaux
Athletic Club
Real Sociedad
Angers
Mainz 05
Montpellier
Udinese
Dijon
Toulouse
Celta Vigo
Palermo
Las Palmas
Leganés
Valencia
Nantes
Eint Frankfurt
Chievo
Metz
Villarreal
Levante
Empoli

In [361]:
# Clean the Most PROFITABLE CLUB data for merge with results data
top_profitable_clubs['club_name'] = ['Lyon','Lille','Dortmund','Saint-Étienne','Sampdoria',\
                                     'Hoffenheim','Atalanta','Monaco','Genoa','Bordeaux','Athletic Club','Real Sociedad',\
                                     'Angers','Mainz 05','Montpellier','Udinese','Dijon','Toulouse','Celta Vigo',\
                                     'Palermo','Las Palmas','Leganés','Valencia','Nantes','Eint Frankfurt',\
                                     'Chievo','Metz','Villarreal','Levante','Empoli']
top_profitable_clubs

C:\Users\lakew\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          club_name  revenue  purchases  profit/loss
76             Lyon   395.29     260.60       134.69
64            Lille   346.41     212.67       133.74
20         Dortmund   553.28     462.10        91.18
9     Saint-Étienne   138.33      50.40        87.93
109       Sampdoria   270.51     188.11        82.40
106      Hoffenheim   190.44     116.73        73.71
13         Atalanta   252.36     178.81        73.55
6            Monaco   571.19     497.97        73.22
52            Genoa   229.73     162.99        66.74
43         Bordeaux   129.38      70.25        59.13
14    Athletic Club   130.50      75.60        54.90
86    Real Sociedad   114.30      65.25        49.05
89           Angers    78.30      32.04        46.26
2          Mainz 05   136.58      92.16        44.42
71      Montpellier    88.74      44.82        43.92
113         Udinese   134.01      95.31        38.70
34            Dijon    54.68      32.04        22.64
49         Toulouse    64.31      42.80        21.51
27       Celta Vigo    97.29      77.04        20.25
111         Palermo    25.16       5.56        19.60
110      Las Palmas    21.15       1.80        19.35
25          Leganés    54.90      35.64        19.26
114        Valencia   276.66     257.58        19.08
47           Nantes    60.48      44.19        16.29
36   Eint Frankfurt   132.84     118.44        14.40
29           Chievo    32.58      18.23        14.35
46             Metz    39.96      25.65        14.31
117      Villarreal   254.84     240.80        14.04
66          Levante    57.97      44.01        13.96
42           Empoli    29.61      15.75        13.86

In [362]:
for team in least_profitable_clubs['club_name']:
    print(team)

West Brom
Real Madrid
Sevilla
Huddersfield
Wolfsburg
Newcastle Utd
Napoli
Hertha BSC
Parma
RB Leipzig
Liverpool
Fulham
Bournemouth
Leicester City
Bayern Munich
West Ham
Wolves
Tottenham
Aston Villa
Brighton
Juventus
Milan
Everton
Chelsea
Inter
Paris S-G
Arsenal
Barcelona
Manchester Utd
Manchester City

In [363]:
# Clean the Most PROFITABLE CLUB data for merge with results data
least_profitable_clubs['club_name'] = ['West Brom','Real Madrid','Sevilla','Huddersfield',\
                                       'Wolfsburg','Newcastle Utd','Napoli','Hertha BSC','Parma',\
                                       'RB Leipzig','Liverpool','Fulham','Bournemouth','Leicester City',\
                                       'Bayern Munich','West Ham','Wolves','Tottenham','Aston Villa','Brighton',\
                                       'Juventus','Milan','Everton','Chelsea','Inter','Paris S-G','Arsenal',\
                                       'Barcelona','Manchester Utd','Manchester City']
least_profitable_clubs

C:\Users\lakew\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

           club_name  revenue  purchases  profit/loss
119        West Brom    31.19      98.19       -67.00
85       Real Madrid   453.60     525.38       -71.78
97           Sevilla   358.97     432.77       -73.80
60      Huddersfield    14.94      94.46       -79.52
116        Wolfsburg   141.17     221.36       -80.19
73     Newcastle Utd    92.07     181.67       -89.60
94            Napoli   346.12     441.23       -95.11
59        Hertha BSC    62.91     162.36       -99.45
79             Parma    16.83     117.62      -100.79
80        RB Leipzig   173.11     277.01      -103.90
67         Liverpool   368.39     473.27      -104.88
51            Fulham     4.05     127.73      -123.68
5        Bournemouth    68.85     193.10      -124.25
65    Leicester City   313.23     441.18      -127.95
17     Bayern Munich   203.13     353.25      -150.12
120         West Ham   178.99     332.01      -153.02
121           Wolves   104.81     278.78      -173.97
108        Tottenham   210.20     384.57      -174.37
12       Aston Villa     2.70     217.31      -214.61
22          Brighton    27.36     243.99      -216.63
63          Juventus   612.10     829.53      -217.43
3              Milan   220.47     447.44      -226.97
38           Everton   266.96     537.62      -270.66
28           Chelsea   503.19     797.85      -294.66
62             Inter   275.59     582.89      -307.30
78         Paris S-G   336.51     675.45      -338.94
11           Arsenal   214.74     568.72      -353.98
40         Barcelona   585.41     950.54      -365.13
69    Manchester Utd   205.64     708.39      -502.75
68   Manchester City   280.32     850.07      -569.75

In [364]:
# Bring in season results
results_2016 = pd.read_csv('2016/2016_results.csv')
results_2017 = pd.read_csv('2017/2017_results.csv')
results_2018 = pd.read_csv('2018/2018_results.csv', encoding='Windows-1252')
results_2019 = pd.read_csv('2019/2019_results.csv', encoding='Windows-1252')
results_2020 = pd.read_csv('2020/2020_results.csv', encoding='Windows-1252')

# drop all unwanted columns and rename for year 2016
results_2016 = results_2016.drop(['Rk','Country', 'Pts/G', 'Attendance', 'Top Team Scorer', 'Goalkeeper'], axis=1)
results_2016 = results_2016.rename(columns={'LgRk': 'LgRk_2016',
                                           'MP':'MP_2016',
                                            'W':'W_2016',
                                            'D':'D_2016',
                                            'L':'L_2016',
                                            'GF':'GF_2016',
                                            'GA':'GA_2016',
                                            'GDiff':'GDiff_2016',
                                            'Pts':'Pts_2016',
                                           'Squad':'club_name'})
# drop all unwanted columns and rename for year 2017
results_2017 = results_2017.drop(['Rk','Country', 'Pts/G', 'Attendance', 'Top Team Scorer', 'Goalkeeper'], axis=1)
results_2017 = results_2017.rename(columns={'LgRk': 'LgRk_2017',
                                           'MP':'MP_2017',
                                            'W':'W_2017',
                                            'D':'D_2017',
                                            'L':'L_2017',
                                            'GF':'GF_2017',
                                            'GA':'GA_2017',
                                            'GDiff':'GDiff_2017',
                                            'Pts':'Pts_2017',
                                           'Squad':'club_name'})
# drop all unwanted columns and rename for year 2018
results_2018 = results_2018.drop(['Rk','Country', 'Pts/G', 'Attendance', 'Top Team Scorer', 'Goalkeeper'], axis=1)
results_2018 = results_2018.rename(columns={'LgRk': 'LgRk_2018',
                                           'MP':'MP_2018',
                                            'W':'W_2018',
                                            'D':'D_2018',
                                            'L':'L_2018',
                                            'GF':'GF_2018',
                                            'GA':'GA_2018',
                                            'GDiff':'GDiff_2018',
                                            'Pts':'Pts_2018',
                                           'Squad':'club_name'})
# drop all unwanted columns and rename for year 2019
results_2019 = results_2019.drop(['Rk','Country', 'Pts/G', 'Attendance', 'Top Team Scorer', 'Goalkeeper'], axis=1)
results_2019 = results_2019.rename(columns={'LgRk': 'LgRk_2019',
                                           'MP':'MP_2019',
                                            'W':'W_2019',
                                            'D':'D_2019',
                                            'L':'L_2019',
                                            'GF':'GF_2019',
                                            'GA':'GA_2019',
                                            'GDiff':'GDiff_2019',
                                            'Pts':'Pts_2019',
                                           'Squad':'club_name'})
# drop all unwanted columns and rename for year 2020
results_2020 = results_2020.drop(['Rk','Country', 'Pts/G', 'Attendance', 'Top Team Scorer', 'Goalkeeper'], axis=1)
results_2020 = results_2020.rename(columns={'LgRk': 'LgRk_2020',
                                           'MP':'MP_2020',
                                            'W':'W_2020',
                                            'D':'D_2020',
                                            'L':'L_2020',
                                            'GF':'GF_2020',
                                            'GA':'GA_2020',
                                            'GDiff':'GDiff_2020',
                                            'Pts':'Pts_2020',
                                           'Squad':'club_name'})

In [365]:
# Merge all the DataFrames together
# results_frames = [results_2016, results_2017, results_2018, results_2019, results_2020]
results_total = pd.merge(results_2016,results_2017, how='outer', on='club_name')
results_total = pd.merge(results_total,results_2018, how='outer', on='club_name')
results_total = pd.merge(results_total,results_2019, how='outer', on='club_name')
results_total = pd.merge(results_total,results_2020, how='outer', on='club_name')
results_total[results_total['club_name'] == 'RB Leipzig']

,club_name,LgRk_2016,MP_2016,W_2016,D_2016,L_2016,GF_2016,GA_2016,GDiff_2016,Pts_2016,...,D_2020,L_2020,GF_2020,GA_2020,GDiff_2020,Pts_2020,xG,xGA,xGDiff,xGDiff/90
98,RB Leipzig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,4.0,81.0,37.0,44.0,66.0,70.8,36.4,34.4,1.01

In [366]:
# Need to change all NAN value to a zero
results_total = results_total.fillna(0)

In [367]:
# Merge it with the top spender data frame
clean_top_spenders = pd.merge(top_10_spenders, results_total, on='club_name')

# Create a total column for each 
clean_top_spenders['W_Total'] = clean_top_spenders['W_2016'] + \
                                              clean_top_spenders['W_2017'] +\
                                              clean_top_spenders['W_2018'] +\
                                              clean_top_spenders['W_2019'] +\
                                              clean_top_spenders['W_2020']
clean_top_spenders['L_Total'] = clean_top_spenders['L_2016'] + \
                                              clean_top_spenders['L_2017'] +\
                                              clean_top_spenders['L_2018'] +\
                                              clean_top_spenders['L_2019'] +\
                                              clean_top_spenders['L_2020']
clean_top_spenders['LgRk_Avg'] = (clean_top_spenders['LgRk_2016'] + \
                                              clean_top_spenders['LgRk_2017'] +\
                                              clean_top_spenders['LgRk_2018'] +\
                                              clean_top_spenders['LgRk_2019'] +\
                                              clean_top_spenders['LgRk_2020'])/5
clean_top_spenders['Pts_Total'] = clean_top_spenders['Pts_2016'] + \
                                              clean_top_spenders['Pts_2017'] +\
                                              clean_top_spenders['Pts_2018'] +\
                                              clean_top_spenders['Pts_2019'] +\
                                              clean_top_spenders['Pts_2020']
# clean_top_spenders = clean_top_spenders.fillna(value = 0)
clean_top_spenders

,club_name,age,fee_cleaned,year,LgRk_2016,MP_2016,W_2016,D_2016,L_2016,GF_2016,...,GDiff_2020,Pts_2020,xG,xGA,xGDiff,xGDiff/90,W_Total,L_Total,LgRk_Avg,Pts_Total
0,Barcelona,694,950.54,60540,1.0,38.0,29.0,4.0,5.0,112.0,...,48.0,82.0,66.4,36.0,30.4,0.80,136.0,19.0,1.4,443.0
1,Manchester City,782,850.07,70623,4.0,38.0,19.0,9.0,10.0,71.0,...,67.0,81.0,93.0,34.7,58.3,1.53,132.0,31.0,2.2,423.0
2,Juventus,840,829.53,70619,1.0,38.0,29.0,4.0,5.0,75.0,...,33.0,83.0,68.9,41.8,27.0,0.71,142.0,24.0,1.0,450.0
3,Chelsea,534,797.85,44390,10.0,38.0,12.0,14.0,12.0,59.0,...,15.0,66.0,66.6,37.9,28.6,0.75,104.0,47.0,4.6,351.0
4,Manchester Utd,478,708.39,40366,5.0,38.0,19.0,9.0,10.0,49.0,...,30.0,66.0,59.4,37.4,22.0,0.58,99.0,40.0,4.4,348.0
5,Paris S-G,442,675.45,36318,1.0,38.0,30.0,6.0,2.0,102.0,...,51.0,68.0,71.1,22.6,48.4,1.79,137.0,18.0,1.2,435.0
6,Atlético Madrid,545,599.13,44398,3.0,38.0,28.0,4.0,6.0,63.0,...,24.0,70.0,52.6,30.8,21.8,0.57,114.0,27.0,2.6,391.0
7,Inter,861,582.89,72643,4.0,38.0,20.0,7.0,11.0,50.0,...,45.0,82.0,72.2,40.7,31.5,0.83,103.0,44.0,4.2,352.0
8,Arsenal,556,568.72,46415,2.0,38.0,20.0,11.0,7.0,65.0,...,8.0,56.0,49.2,56.6,-7.3,-0.19,97.0,49.0,5.2,335.0
9,Everton,649,537.62,54478,11.0,38.0,11.0,14.0,13.0,59.0,...,-12.0,49.0,49.3,48.4,0.9,0.02,69.0,68.0,9.2,260.0
10,Real Madrid,389,525.38,36327,2.0,38.0,28.0,6.0,4.0,110.0,...,45.0,87.0,63.6,28.4,35.2,0.93,126.0,28.0,2.0,414.0
11,Monaco,968,497.97,86776,3.0,38.0,17.0,14.0,7.0,57.0,...,0.0,40.0,48.0,39.9,8.2,0.29,90.0,44.0,6.4,316.0
12,Liverpool,415,473.27,34302,8.0,38.0,16.0,12.0,10.0,63.0,...,52.0,99.0,71.5,40.0,31.5,0.83,121.0,25.0,3.8,407.0
13,Dortmund,683,462.10,60524,2.0,34.0,24.0,6.0,4.0,82.0,...,43.0,69.0,59.2,39.4,19.7,0.58,101.0,30.0,2.6,342.0
14,Roma,1065,460.05,86756,3.0,38.0,23.0,11.0,4.0,83.0,...,26.0,70.0,72.6,48.3,24.3,0.64,113.0,36.0,3.8,380.0
15,Milan,655,447.44,54487,7.0,38.0,15.0,12.0,11.0,49.0,...,17.0,66.0,60.3,47.7,12.5,0.33,89.0,50.0,6.0,318.0
16,Napoli,689,441.23,56502,2.0,38.0,25.0,7.0,6.0,80.0,...,11.0,62.0,62.5,39.3,23.2,0.61,121.0,32.0,3.2,400.0
17,Leicester City,620,441.18,52460,1.0,38.0,23.0,12.0,3.0,68.0,...,26.0,62.0,61.6,44.5,17.1,0.45,80.0,64.0,7.2,286.0
18,Sevilla,1125,432.77,88797,7.0,38.0,14.0,10.0,14.0,51.0,...,20.0,70.0,47.1,33.6,13.5,0.36,88.0,55.0,5.6,311.0
19,Tottenham,397,384.57,34305,3.0,38.0,19.0,13.0,6.0,69.0,...,14.0,59.0,46.1,52.0,-6.0,-0.16,107.0,41.0,3.6,363.0
20,Bayern Munich,389,353.25,34311,1.0,34.0,28.0,4.0,2.0,80.0,...,68.0,82.0,82.3,34.4,48.0,1.41,130.0,16.0,1.0,414.0
21,West Ham,660,332.01,52464,7.0,38.0,16.0,14.0,8.0,65.0,...,-13.0,39.0,46.2,61.1,-14.8,-0.39,63.0,76.0,11.4,240.0
22,RB Leipzig,501,277.01,48426,0.0,0.0,0.0,0.0,0.0,0.0,...,44.0,66.0,70.8,36.4,34.4,1.01,72.0,28.0,2.8,252.0
23,Southampton,459,272.08,40357,6.0,38.0,18.0,9.0,11.0,59.0,...,-9.0,52.0,53.9,53.1,0.9,0.02,61.0,76.0,11.6,236.0
24,Lyon,598,260.60,54486,2.0,38.0,19.0,8.0,11.0,67.0,...,15.0,40.0,37.2,26.0,11.2,0.40,95.0,48.0,3.8,322.0
25,Valencia,584,257.58,46409,12.0,38.0,11.0,11.0,16.0,46.0,...,-7.0,53.0,40.3,52.3,-11.9,-0.31,75.0,63.0,8.2,277.0
26,Brighton,802,243.99,70641,0.0,0.0,0.0,0.0,0.0,0.0,...,-15.0,41.0,41.2,54.5,-13.3,-0.35,27.0,51.0,9.4,117.0
27,Leverkusen,406,242.55,36322,3.0,34.0,18.0,6.0,10.0,56.0,...,17.0,63.0,56.6,45.1,11.5,0.34,81.0,55.0,5.8,277.0
28,Villarreal,746,240.80,58516,4.0,38.0,18.0,10.0,10.0,44.0,...,14.0,60.0,57.0,44.6,12.4,0.33,83.0,60.0,6.6,296.0

In [368]:
# 'FC Barcelona',
#  'Manchester City',
#  'Juventus FC',
#  'Chelsea FC',
#  'Manchester United',
#  'Paris Saint-Germain',
#  'Atlético Madrid',
#  'Inter Milan',
#  'Arsenal FC',
#  'Everton FC',
#  'Real Madrid',
#  'AS Monaco',
#  'Liverpool FC',
#  'Borussia Dortmund',
#  'AS Roma',
#  'AC Milan',
#  'SSC Napoli',
#  'Leicester City',
#  'Sevilla FC',
#  'Tottenham Hotspur',
#  'Bayern Munich',
#  'West Ham United',
#  'Wolverhampton Wanderers',
#  'RB Leipzig',
#  'Southampton FC',
#  'Olympique Lyon',
#  'Valencia CF',
#  'Brighton & Hove Albion',
#  'Bayer 04 Leverkusen',
#  'Villarreal CF']
# RB Leipzig
# # merge these DataFra

In [369]:
# Export DataFrame as CSV for top spending clubs
clean_top_spenders.to_csv(r'Data/club_spending_data.csv',index=False)

In [370]:
# Merge it with the top spender data frame
top_profitable_clubs = pd.merge(top_profitable_clubs, results_total, on='club_name')

# Create a total column for each 
top_profitable_clubs['W_Total'] = top_profitable_clubs['W_2016'] + \
                                              top_profitable_clubs['W_2017'] +\
                                              top_profitable_clubs['W_2018'] +\
                                              top_profitable_clubs['W_2019'] +\
                                              top_profitable_clubs['W_2020']
top_profitable_clubs['L_Total'] = top_profitable_clubs['L_2016'] + \
                                              top_profitable_clubs['L_2017'] +\
                                              top_profitable_clubs['L_2018'] +\
                                              top_profitable_clubs['L_2019'] +\
                                              top_profitable_clubs['L_2020']
top_profitable_clubs['LgRk_Avg'] = (top_profitable_clubs['LgRk_2016'] + \
                                              top_profitable_clubs['LgRk_2017'] +\
                                              top_profitable_clubs['LgRk_2018'] +\
                                              top_profitable_clubs['LgRk_2019'] +\
                                              top_profitable_clubs['LgRk_2020'])/5
top_profitable_clubs['Pts_Total'] = top_profitable_clubs['Pts_2016'] + \
                                              top_profitable_clubs['Pts_2017'] +\
                                              top_profitable_clubs['Pts_2018'] +\
                                              top_profitable_clubs['Pts_2019'] +\
                                              top_profitable_clubs['Pts_2020']
top_profitable_clubs

,club_name,revenue,purchases,profit/loss,LgRk_2016,MP_2016,W_2016,D_2016,L_2016,GF_2016,...,GDiff_2020,Pts_2020,xG,xGA,xGDiff,xGDiff/90,W_Total,L_Total,LgRk_Avg,Pts_Total
0,Lyon,395.29,260.60,134.69,2.0,38.0,19.0,8.0,11.0,67.0,...,15.0,40.0,37.2,26.0,11.2,0.40,95.0,48.0,3.8,322.0
1,Lille,346.41,212.67,133.74,5.0,38.0,15.0,15.0,8.0,39.0,...,8.0,49.0,39.6,29.6,10.0,0.36,75.0,62.0,7.8,268.0
2,Dortmund,553.28,462.10,91.18,2.0,34.0,24.0,6.0,4.0,82.0,...,43.0,69.0,59.2,39.4,19.7,0.58,101.0,30.0,2.6,342.0
3,Saint-Étienne,138.33,50.40,87.93,6.0,38.0,17.0,7.0,14.0,42.0,...,-16.0,30.0,28.8,35.3,-6.6,-0.23,71.0,63.0,8.4,259.0
4,Sampdoria,270.51,188.11,82.40,15.0,38.0,10.0,10.0,18.0,48.0,...,-17.0,42.0,51.2,53.4,-2.2,-0.06,65.0,83.0,11.8,237.0
5,Hoffenheim,190.44,116.73,73.71,15.0,34.0,9.0,10.0,15.0,39.0,...,0.0,52.0,49.8,51.8,-2.1,-0.06,68.0,49.0,7.4,257.0
6,Atalanta,252.36,178.81,73.55,13.0,38.0,11.0,12.0,15.0,41.0,...,50.0,78.0,81.9,41.3,40.6,1.07,91.0,48.0,6.0,324.0
7,Monaco,571.19,497.97,73.22,3.0,38.0,17.0,14.0,7.0,57.0,...,0.0,40.0,48.0,39.9,8.2,0.29,90.0,44.0,6.4,316.0
8,Genoa,229.73,162.99,66.74,11.0,38.0,13.0,7.0,18.0,45.0,...,-26.0,39.0,47.4,59.5,-12.1,-0.32,51.0,92.0,14.6,200.0
9,Bordeaux,129.38,70.25,59.13,11.0,38.0,12.0,14.0,12.0,50.0,...,6.0,37.0,29.7,33.2,-3.5,-0.12,62.0,62.0,9.8,242.0
10,Athletic Club,130.50,75.60,54.90,5.0,38.0,18.0,8.0,12.0,58.0,...,3.0,51.0,38.5,46.2,-7.7,-0.20,73.0,64.0,9.4,272.0
11,Real Sociedad,114.30,65.25,49.05,9.0,38.0,13.0,9.0,16.0,45.0,...,8.0,56.0,45.2,39.2,6.0,0.16,75.0,73.0,8.4,267.0
12,Angers,78.30,32.04,46.26,9.0,38.0,13.0,11.0,14.0,40.0,...,-5.0,39.0,27.2,28.8,-1.6,-0.06,56.0,70.0,11.8,222.0
13,Mainz 05,136.58,92.16,44.42,6.0,34.0,14.0,8.0,12.0,46.0,...,-21.0,37.0,44.2,57.1,-12.9,-0.38,56.0,79.0,12.0,203.0
14,Montpellier,88.74,44.82,43.92,12.0,38.0,14.0,7.0,17.0,49.0,...,1.0,40.0,31.9,34.2,-2.2,-0.08,61.0,64.0,10.2,238.0
15,Udinese,134.01,95.31,38.70,17.0,38.0,10.0,9.0,19.0,35.0,...,-14.0,45.0,40.7,51.9,-11.2,-0.29,57.0,92.0,13.8,212.0
16,Dijon,54.68,32.04,22.64,0.0,0.0,0.0,0.0,0.0,0.0,...,-10.0,30.0,28.8,43.0,-14.2,-0.51,37.0,67.0,12.2,149.0
17,Toulouse,64.31,42.80,21.51,17.0,38.0,9.0,13.0,16.0,45.0,...,-36.0,13.0,30.2,44.2,-14.0,-0.50,39.0,86.0,16.8,172.0
18,Celta Vigo,97.29,77.04,20.25,6.0,38.0,17.0,9.0,12.0,51.0,...,-12.0,37.0,37.8,42.1,-4.4,-0.12,60.0,78.0,13.2,232.0
19,Palermo,25.16,5.56,19.60,16.0,38.0,10.0,9.0,19.0,38.0,...,0.0,0.0,0.0,0.0,0.0,0.00,16.0,43.0,7.0,65.0
20,Las Palmas,21.15,1.80,19.35,11.0,38.0,12.0,8.0,18.0,45.0,...,0.0,0.0,0.0,0.0,0.0,0.00,27.0,63.0,8.8,105.0
21,Leganés,54.90,35.64,19.26,0.0,0.0,0.0,0.0,0.0,0.0,...,-21.0,36.0,37.2,39.0,-1.8,-0.05,39.0,71.0,13.0,159.0
22,Valencia,276.66,257.58,19.08,12.0,38.0,11.0,11.0,16.0,46.0,...,-7.0,53.0,40.3,52.3,-11.9,-0.31,75.0,63.0,8.2,277.0
23,Nantes,60.48,44.19,16.29,14.0,38.0,12.0,12.0,14.0,33.0,...,-3.0,37.0,27.8,33.5,-5.7,-0.20,64.0,72.0,11.0,236.0
24,Eint Frankfurt,132.84,118.44,14.40,16.0,34.0,9.0,9.0,16.0,34.0,...,-1.0,45.0,52.5,49.2,3.3,0.10,62.0,68.0,10.2,226.0
25,Chievo,32.58,18.23,14.35,9.0,38.0,13.0,11.0,14.0,43.0,...,0.0,0.0,0.0,0.0,0.0,0.00,37.0,73.0,11.2,150.0
26,Metz,39.96,25.65,14.31,0.0,0.0,0.0,0.0,0.0,0.0,...,-8.0,34.0,27.5,34.2,-6.7,-0.24,25.0,51.0,9.8,103.0
27,Villarreal,254.84,240.80,14.04,4.0,38.0,18.0,10.0,10.0,44.0,...,14.0,60.0,57.0,44.6,12.4,0.33,83.0,60.0,6.6,296.0
28,Levante,57.97,44.01,13.96,20.0,38.0,8.0,8.0,22.0,37.0,...,-6.0,49.0,42.0,60.7,-18.7,-0.49,44.0,69.0,12.4,171.0
29,Empoli,29.61,15.75,13.86,10.0,38.0,12.0,10.0,16.0,40.0,...,0.0,0.0,0.0,0.0,0.0,0.00,30.0,58.0,9.2,116.0

In [371]:
# Export DataFrame as CSV for top spending clubs
top_profitable_clubs.to_csv(r'Data/club_profits_data.csv',index=False)

In [372]:
least_profitable_clubs
# Merge it with the top spender data frame
least_profitable_clubs = pd.merge(least_profitable_clubs, results_total, on='club_name')

# Create a total column for each 
least_profitable_clubs['W_Total'] = least_profitable_clubs['W_2016'] + \
                                              least_profitable_clubs['W_2017'] +\
                                              least_profitable_clubs['W_2018'] +\
                                              least_profitable_clubs['W_2019'] +\
                                              least_profitable_clubs['W_2020']
least_profitable_clubs['L_Total'] = least_profitable_clubs['L_2016'] + \
                                              least_profitable_clubs['L_2017'] +\
                                              least_profitable_clubs['L_2018'] +\
                                              least_profitable_clubs['L_2019'] +\
                                              least_profitable_clubs['L_2020']
least_profitable_clubs['LgRk_Avg'] = (least_profitable_clubs['LgRk_2016'] + \
                                              least_profitable_clubs['LgRk_2017'] +\
                                              least_profitable_clubs['LgRk_2018'] +\
                                              least_profitable_clubs['LgRk_2019'] +\
                                              least_profitable_clubs['LgRk_2020'])/5
least_profitable_clubs['Pts_Total'] = least_profitable_clubs['Pts_2016'] + \
                                              least_profitable_clubs['Pts_2017'] +\
                                              least_profitable_clubs['Pts_2018'] +\
                                              least_profitable_clubs['Pts_2019'] +\
                                              least_profitable_clubs['Pts_2020']
least_profitable_clubs

,club_name,revenue,purchases,profit/loss,LgRk_2016,MP_2016,W_2016,D_2016,L_2016,GF_2016,...,GDiff_2020,Pts_2020,xG,xGA,xGDiff,xGDiff/90,W_Total,L_Total,LgRk_Avg,Pts_Total
0,West Brom,31.19,98.19,-67.00,14.0,38.0,10.0,13.0,15.0,34.0,...,0.0,0.0,0.0,0.0,0.0,0.00,28.0,51.0,8.8,119.0
1,Real Madrid,453.60,525.38,-71.78,2.0,38.0,28.0,6.0,4.0,110.0,...,45.0,87.0,63.6,28.4,35.2,0.93,126.0,28.0,2.0,414.0
2,Sevilla,358.97,432.77,-73.80,7.0,38.0,14.0,10.0,14.0,51.0,...,20.0,70.0,47.1,33.6,13.5,0.36,88.0,55.0,5.6,311.0
3,Huddersfield,14.94,94.46,-79.52,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,12.0,47.0,7.2,53.0
4,Wolfsburg,141.17,221.36,-80.19,8.0,34.0,12.0,9.0,13.0,47.0,...,2.0,49.0,47.3,40.0,7.4,0.22,57.0,65.0,10.6,219.0
5,Newcastle Utd,92.07,181.67,-89.60,18.0,38.0,9.0,10.0,19.0,44.0,...,-20.0,44.0,33.1,58.3,-25.2,-0.66,44.0,70.0,10.8,170.0
6,Napoli,346.12,441.23,-95.11,2.0,38.0,25.0,7.0,6.0,80.0,...,11.0,62.0,62.5,39.3,23.2,0.61,121.0,32.0,3.2,400.0
7,Hertha BSC,62.91,162.36,-99.45,7.0,34.0,14.0,8.0,12.0,42.0,...,-11.0,41.0,40.5,51.3,-10.8,-0.32,61.0,66.0,8.8,226.0
8,Parma,16.83,117.62,-100.79,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,49.0,46.7,62.0,-15.4,-0.40,24.0,34.0,5.0,90.0
9,RB Leipzig,173.11,277.01,-103.90,0.0,0.0,0.0,0.0,0.0,0.0,...,44.0,66.0,70.8,36.4,34.4,1.01,72.0,28.0,2.8,252.0
10,Liverpool,368.39,473.27,-104.88,8.0,38.0,16.0,12.0,10.0,63.0,...,52.0,99.0,71.5,40.0,31.5,0.83,121.0,25.0,3.8,407.0
11,Fulham,4.05,127.73,-123.68,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,7.0,26.0,3.8,26.0
12,Bournemouth,68.85,193.10,-124.25,16.0,38.0,11.0,9.0,18.0,45.0,...,-25.0,34.0,42.7,57.5,-14.8,-0.39,56.0,91.0,13.8,211.0
13,Leicester City,313.23,441.18,-127.95,1.0,38.0,23.0,12.0,3.0,68.0,...,26.0,62.0,61.6,44.5,17.1,0.45,80.0,64.0,7.2,286.0
14,Bayern Munich,203.13,353.25,-150.12,1.0,34.0,28.0,4.0,2.0,80.0,...,68.0,82.0,82.3,34.4,48.0,1.41,130.0,16.0,1.0,414.0
15,West Ham,178.99,332.01,-153.02,7.0,38.0,16.0,14.0,8.0,65.0,...,-13.0,39.0,46.2,61.1,-14.8,-0.39,63.0,76.0,11.4,240.0
16,Wolves,104.81,278.78,-173.97,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,59.0,47.1,34.8,12.3,0.32,31.0,22.0,2.8,116.0
17,Tottenham,210.20,384.57,-174.37,3.0,38.0,19.0,13.0,6.0,69.0,...,14.0,59.0,46.1,52.0,-6.0,-0.16,107.0,41.0,3.6,363.0
18,Aston Villa,2.70,217.31,-214.61,20.0,38.0,3.0,8.0,27.0,27.0,...,-26.0,35.0,40.1,65.9,-25.8,-0.68,12.0,48.0,7.4,52.0
19,Brighton,27.36,243.99,-216.63,0.0,0.0,0.0,0.0,0.0,0.0,...,-15.0,41.0,41.2,54.5,-13.3,-0.35,27.0,51.0,9.4,117.0
20,Juventus,612.10,829.53,-217.43,1.0,38.0,29.0,4.0,5.0,75.0,...,33.0,83.0,68.9,41.8,27.0,0.71,142.0,24.0,1.0,450.0
21,Milan,220.47,447.44,-226.97,7.0,38.0,15.0,12.0,11.0,49.0,...,17.0,66.0,60.3,47.7,12.5,0.33,89.0,50.0,6.0,318.0
22,Everton,266.96,537.62,-270.66,11.0,38.0,11.0,14.0,13.0,59.0,...,-12.0,49.0,49.3,48.4,0.9,0.02,69.0,68.0,9.2,260.0
23,Chelsea,503.19,797.85,-294.66,10.0,38.0,12.0,14.0,12.0,59.0,...,15.0,66.0,66.6,37.9,28.6,0.75,104.0,47.0,4.6,351.0
24,Inter,275.59,582.89,-307.30,4.0,38.0,20.0,7.0,11.0,50.0,...,45.0,82.0,72.2,40.7,31.5,0.83,103.0,44.0,4.2,352.0
25,Paris S-G,336.51,675.45,-338.94,1.0,38.0,30.0,6.0,2.0,102.0,...,51.0,68.0,71.1,22.6,48.4,1.79,137.0,18.0,1.2,435.0
26,Arsenal,214.74,568.72,-353.98,2.0,38.0,20.0,11.0,7.0,65.0,...,8.0,56.0,49.2,56.6,-7.3,-0.19,97.0,49.0,5.2,335.0
27,Barcelona,585.41,950.54,-365.13,1.0,38.0,29.0,4.0,5.0,112.0,...,48.0,82.0,66.4,36.0,30.4,0.80,136.0,19.0,1.4,443.0
28,Manchester Utd,205.64,708.39,-502.75,5.0,38.0,19.0,9.0,10.0,49.0,...,30.0,66.0,59.4,37.4,22.0,0.58,99.0,40.0,4.4,348.0
29,Manchester City,280.32,850.07,-569.75,4.0,38.0,19.0,9.0,10.0,71.0,...,67.0,81.0,93.0,34.7,58.3,1.53,132.0,31.0,2.2,423.0

In [373]:
# Export DataFrame as CSV for top spending clubs
least_profitable_clubs.to_csv(r'Data/club_losses_data.csv',index=False)